.taxi-app {
    display: none;
    height: 100%;
    width: 100%;
    background: rgb(243, 243, 243);
    overflow: hidden;
    z-index: 1000;
}

.taxi-header {
    position: absolute;
    width: 100%;
    height: 12vh;
    background-color: #ccb806;
    top: 0;
    border-bottom: .3vh solid #003666;
    color: white;
    font-family: 'Samsung Sans Medium';
    font-size: 1.8vh;
}

.taxi-header > p {
    line-height: 12vh;
    text-indent: 2vh;
}

.taxi-header > span {
    position: absolute;
    top: 9vh;
    left: 2vh;
    font-size: 1.2vh;
    height: 2vh;
    color: rgba(255, 255, 255, 0.842);
}

.taxi-list {
    position: absolute;
    background-color: #00000033;
    width: 82%;
    height: 6vh;

    margin: 0 auto;
    top: 23%;
    left: 0.55vh;
    bottom: 3%;

    border-radius: .5vh;

    overflow-y: scroll;
}

.taxi-list::-webkit-scrollbar {
    display: none;
}

.taxi-list {
    position: relative;
    width: 91.2%;
    height: 70%;
    background-color: rgba(31, 31, 31, 0.89);
    margin: 2.5%;

    border-radius: .5vh;
}

.taxi-list-firstletter {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 3.5vh;
    height: 3.5vh;
    background-color: rgb(42, 137, 214);
    text-align: center;
    left: 1.6vh;
    line-height: 3.5vh;
    border-radius: 50%;
    font-family: 'Samsung Sans Medium';
    font-size: 1.8vh;

    color: rgb(255, 255, 255);
}

.taxi-list-fullname {
    position: relative;
    top: -13.0%;
    transform: translateY(-50%);
    left: 7.5vh;
    font-family: 'Samsung Sans Medium';
    font-size: 1.5vh;

    max-width: 14vh;

    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;

    color: rgb(255, 255, 255);
}

.no-taxi {
    position: absolute;
    top: 8%;
    transform: translateY(-50%);
    font-family: 'Samsung Sans Medium';
    font-size: 1.3vh;

    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;

    max-width: 14vh;

    color: rgb(255, 255, 255);
}


.taxi-app .phone-home-container i:hover {
    color: rgb(65, 65, 65);
}

.taxi-app .phone-home-container{
    position: absolute;
    top: 6.2vh;
    right: 1.5vh;
}

.taxi-app .phone-home-container i {
    color: white;
    font-size: 1.2em;
}

.taxi-list-call {
    color: white;
    position: relative;
    top: 100.0%;
    transform: translateY(-50%);

    right: -8vh;
    font-size: 2vh;
    transform: rotate(90deg);

    transition: .08s ease-in-out;
}

.taxi-list-call:hover {
    color: rgb(66, 161, 11);
    opacity: .8;

    cursor: pointer;
}


.taxi-li {
    border-radius: 0.4vh;
    margin-left: -2.95vh;
    margin-top: 0.5vh;
    width: 110%;
    height: 6vh;
    background-color: rgb(41, 41, 41);
}